html{
  /* font-family: "Noto Sans JP", sans-serif; */
  /* font-family: "Dancing Script", cursive; */
  font-family: "PT Serif", serif;
  /* font-family: "Annapurna SIL", serif; */
}


body {
    /* グラデーションの背景色を設定します */
    background: linear-gradient(to bottom, #696969, darksalmon, #6699CC, #999999)
}
  .PT{
    font-family: "PT Serif", serif;}
.container {
    width: 90%;
    max-width: 1120px;
    margin: 0 auto;
    position: relative;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/* ヘッダー */
header {
    padding: 27px 0;
    font-family: "Annapurna SIL", serif;
}
.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.04em;
}
.logo span {
    color: #000000;
}
.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_menu li {
    margin-left: 40px;
}
.header_menu li a {
    transition: .3s;
}
.header_menu li a:hover {
    color: darkred;
    transition: .3s;
}

@media only screen and (max-width: 768px) {
   header .container {
    justify-content: center;
   }
   .header_menu li {
    margin: 20px 16px 0;
   }
}

/* メイン */
#hero {
   background-image: url(../images/風１.jpg); 
   background-position: center;
   background-size: cover;
   height: 540px;
   border-radius: 30px;
   display: flex;
   align-items: center;
   margin-bottom: 90px;
   overflow: hidden;
}
#hero::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: 1;
}
.hero_inner {
    z-index: 2;
    color: #ffffff;
    width: 100%;
    text-align: center;
}
.hero_inner p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
.hero_inner h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

    @media only screen and (max-width: 768px) {
        #hero {height: 460px;}
        .hero_inner p{font-size: 15px;}
        .hero_inner h1 {font-size: 17px;}
    }

/* プロフィール */
#profile {
    margin-bottom: 120px;
}
.title {
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-bottom: 40px;
}
#profile h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 60px;
}
.column-2 {
    width: 48%;
}
.text {
    line-height: 2;
    font-size: 20px;
}
.profile-img {
    background-image: url(../images/風２：旅路.jpg); 
    background-position: center;
    background-size: cover;
    height: 480px;
    border-radius: 20px;
}
.profile-img {
    content: '';
    width: 48%;
    height: 70%;
    background-color: #000000;
    position: absolute;
    top: 50;
    right: 0;
    opacity: 0.7;
}
.heading {
    font-family: "Dancing Script", cursive;
    font-size: 70px;
    font-weight: 300;
    color: #000000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-30%);
    z-index: -1;
}

@media only screen and (max-width: 768px) {
    #profile h3 {font-size: 24px;
        line-height: 1.5;
    }
    .column-2 {
        width: 100%;
    }
    .text {
        font-size: 15px;
        line-height: 1.7;
    }
    .profile-img {margin-top: 30px;}
}

/* 好きな曲 */
#MyFuvMV {
    margin-bottom: 120px;
}
.MyFuvMv_inner {
    margin-bottom: 40px;
    position: relative;
}
.column-40 {
    width: 40%;

}
.column-55 {
    width: 55%;
}
#MyFuvMv img {
    border-radius: 20px;
    left: 0;
    width: 90%;
}
#MyFuvMv h3 {
    font-size: 24px;
    font-weight:700;
    margin-bottom: 24px;
}

@media only screen and (max-width: 768px) {
    .column-40 {
        width: 100%;
        margin-bottom: 30px;
    
    }
    .column-55 {
        width: 100%;
    }
    #MyFuvMv h3 {
        font-size: 17px;
    }
}


/* office */
#office {
    margin-bottom: 120px;
}
#office dl {
    max-width: 900px;
    margin-left: auto;
}
#office dt {
    width: 30%;
    padding: 48px 0;
    font-weight: 500;
    border-bottom: solid 1px #DDDDDD;
}
#office dd {
    width: 70%;
    padding: 48px 0;
    border-bottom: solid 1px #DDDDDD;
}


/* フッター */
footer {
    text-align: center;
    margin: 90px 0;
}
.copyright {
    font-size: 12px;
    margin-top: 40px;
}


@media only screen and (max-width: 768px) {
    #office dl {
        font-size: 13px;
    }
}